<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas</title>
</head>

<body>
    <main id="main">


        <header>
            <nav>
                <ul>
                    <!-- <li><a href="/">Home</a></li>
                    <li><a href="/tarefas">Tarefas</a></li>
                    <li><a href="/sobre">Sobre</a></li> -->
                </ul>
            </nav>
        </header>

        <div id="listas">
            <h1>Listas</h1>

        </div>


        <!-- <h1 id="mensagem">Opa!</h1> -->

        <input id="input-Lista" placeholder="Criar lista">
        <button id="btn-adicionarLista">Adicionar</button>

    </main>
    <script src="js/home.js"></script>
</body>

</html>