<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>TAREFAS</title>
</head>
<body>
    <%# <img src="/assets/img/logo.png" alt="Logo"> %>

    <main class="mainLogin">

    <h1 class="titleLogin">TAREFAS</h1>

    <div class="containerLogin">
        <h2 class="subTitleLogin">LOGIN</h2>
        <form method="POST" action="/login">
            <label for="email">EMAIL</label>
            <input type="email" id="email" name="email" required>
            <br>
            <label for="senha">SENHA</label>
            <input type="password" id="senha" name="senha" required>
            <br>
            <button class="buttonLogin" type="submit">LOGIN</button>
        </form>
        <a href="/cadastro">CADASTRAR-SE</a>
    </div>

    </main>
</body>
</html>